extends layout

block content
	br
	br
	h1.box Bienvenue sur notre librairie en ligne !
	h3.
		Nous sommes 4 étudiants en école d’ingénieur et nous avons eu l’idée lors à noël dernier (2020) de venir en aide aux petits commerçants qui affrontaient
		cette crise sanitaire sans pouvoir faire face aux géants d’internet tel que Amazon ou Cdiscount car ils ne possédaient pas les ressources pour. 
		Le temps passe et de l'eau a coulé sous les ponts mais cette crise perdure, et ces petites enseignes, possédant un très grand nombre de livres, 
		mais une petite structure, se voient une fois de plus impactés par les restrictions limitant le nombre de personnes par mètre carré. 
	br
	h3.
		Nous avons donc créé ce site : « LIB’Covid.fr » pour permettre à n’importe quel libraire de publier les livres qu’il possède dans son magasin sur internet ! 
		Et cela pour un coup minime que nous affichons en toute transparence : 5%. Vous pourrez donc retrouver ici tous vos livres préférés en quelques clics et 
		faire fonctionner le commerce de proximité. 
	br
	h3.
		LIB’Covid bientôt disponible sur l’Apple store et Play store.
