doctype html
html

	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		div.banner
			h1 Lib'Covid
		div
			div.button(onclick="home()") Accueil
			div.button(onclick="listlibraire()") Liste des libraires
			div.button(onclick="listclient()") Liste des clients
			div.button(onclick="newbook()") Nouveau livre
			div.button(onclick="listbook()") Liste des livres
			div.button(onclick="login()") Connexion
			div.button(onclick="signup()") Inscription
	body
		block content

script.
	function home() {
		window.location.href = '/'
	}
	function newlibraire() { 
		window.location.href = '/newlibraire'
	}
	function listlibraire() {
		window.location.href = '/librairelist'
	}
	function newclient() { 
		window.location.href = '/newclient'
	}
	function listclient() {
		window.location.href = '/clientlist'
	}
	function newbook() {
		window.location.href = '/newbook'
	}
	function listbook() {
		window.location.href = '/booklist'
	}
	function login() { 
		window.location.href = '/login'
	}
	function signup() { 
		window.location.href = '/signup'
	}
