doctype html
html

	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		div.banner
			h1 Lib'Covid
		div
			div.button(onclick="home()") Accueil
			div.button(onclick="listlibraire()") Liste des libraires
			div.button(onclick="listbook()") Liste des livres
			if loggedin == 2
				div.button(onclick="newbook()") Nouveau livre
			if loggedin == 2
				div.button(onclick="mybook()") Mes livres
			if loggedin != 1 && loggedin != 2
				div(style="position: relative; float: right;").button(onclick="login()") Connexion
				div(style="position: relative; float: right;").button(onclick="signup()") Inscription
			else 
				div(style="position: relative; float: right;").button(onclick="deco()") #{login} : Deconnexion
	body
		block content

script.
	function home() {
		window.location.href = '/'
	}
	function newlibraire() { 
		window.location.href = '/newlibraire'
	}
		function listlibraire() {
		window.location.href = '/librairelist'
	}
	function newclient() { 
		window.location.href = '/newclient'
	}
		function listclient() {
		window.location.href = '/clientlist'
	}
		function newbook() {
		window.location.href = '/newbook'
	}
		function listbook() {
		window.location.href = '/booklist'
	}
	
		function mybook() {
		window.location.href = '/mybook'
	}
		function login() { 
		window.location.href = '/login'
	}
		function deco() { 
		window.location.href = '/deco'
	}
		function signup() { 
		window.location.href = '/signup'
	}
		function Reservation(titre,vendeur,prix) {
		window.location.href = '/reservation?t='+titre+'&v='+vendeur+'&p='+prix
	}
		function Supression(titre,vendeur,prix){
		window.location.href='/supression?t='+titre+'&v='+vendeur+'&p='+prix'
	}
	function sortListDir() {
		var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
		list = document.getElementById("id01");
		switching = true;
		// Set the sorting direction to ascending:
		dir = "asc";
		// Make a loop that will continue until no switching has been done:
		while (switching) {
			// start by saying: no switching is done:
			switching = false;
			b = list.getElementsByTagName("LI");
			// Loop through all list-items:
			for (i = 0; i < (b.length - 1); i++) {
				//start by saying there should be no switching:
				shouldSwitch = false;
				/* check if the next item should switch place with the current item,
				based on the sorting direction (asc or desc): */
				if (dir == "asc") {
					if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
						/* if next item is alphabetically lower than current item,
						mark as a switch and break the loop: */
						shouldSwitch = true;
						break;
					}
				}
				else if (dir == "desc") {
					if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
						/* if next item is alphabetically higher than current item,
						mark as a switch and break the loop: */
						shouldSwitch= true;
						break;
					}
				}
			}
			if (shouldSwitch) {
				/* If a switch has been marked, make the switch
				and mark that a switch has been done: */
				b[i].parentNode.insertBefore(b[i + 1], b[i]);
				switching = true;
				// Each time a switch is done, increase switchcount by 1:
				switchcount ++;
			} else {
				/* If no switching has been done AND the direction is "asc",
				set the direction to "desc" and run the while loop again. */
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}