extends layout

block content
    h1.
        Liste des libraires
    ul
        each libraire, i in librairelist
            li
                a(href="mailto:#{libraire.libraireemail}")= libraire.librairesociete