extends layout

block content
	h1	 Veuillez vous connectez
	form#formConnection(name="connect",method="post",action="/connect")
		input#inputConnectMail(type="text", placeholder="Email", name="email")
		input#inputConnectPassword(type="password", placeholder="Mot de passe", name="mdp")
		div.button(onclick="home()") Connexion
