extends layout

block content
	h1	 Veuillez vous connectez
	form#formConnexion(name="addbook",method="post",action="/addbook")
		input#inputbookTitre(type="text", placeholder="Email", name="email")
		input#inputbookAuteur(type="password", placeholder="Mot de passe", name="mdp")
		div.button(onclick="home()") Connexion
