extends layout

block content
	h1 Ajouter un nouveau livre
	form#formAddBook(name="addbook",method="post",action="/addbook")
		input#inputbookTitre(type="text", placeholder="booktitre", name="booktitre")
		input#inputbookAuteur(type="text", placeholder="bookauteur", name="bookauteur")
		input#inputbookType(type="text", placeholder="booktype", name="booktype")
		input#inputbookAnnee(type="text", placeholder="bookannee", name="bookannee")
		input#inputbookEditeur(type="text", placeholder="bookediteur", name="bookediteur")
		input#inputbookVendeur(type="text", placeholder="bookvendeur", name="bookvendeur")
		input#inputbookPrix(type="text", placeholder="bookprix", name="bookprix")
		button#btnImage(onclick="navigateur()") Image
	button#btnSubmit(type="submit") submit
	
script.
	function navigateur() {

	}