extends layout

block content
    h1= title
    form#formAddBook(name="addbook",method="post",action="/addbook")
        input#inputbookTitre(type="text", placeholder="Titre", name="booktitre")
        input#inputbookAuteur(type="text", placeholder="Auteur", name="bookauteur")
        input#inputbookType(type="text", placeholder="Type", name="booktype")
        input#inputbookAnnee(type="text", placeholder="Annee", name="bookannee")
        input#inputbookEditeur(type="text", placeholder="Editeur", name="bookediteur")
        input#inputbookVendeur(type="text", placeholder="Vendeur", name="bookvendeur")
        input#inputbookPrix(type="text", placeholder="Prix", name="bookprix")

        input#inputbookImage(type="text", placeholder="Image", name="bookimage")



        /*label(for='profile_pic') Sélectionnez l'image à afficher
        /*input#inputbookImage(type='file' name='bookimage' accept='.jpg, .jpeg, .png')

        button#btnSubmit(type="submit") submit

script.
    function navigateur() {

    }