extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddClient(name="addclient",method="post",action="/addclient")
		input#inputClientNom(type="text", placeholder="clientnom", name="clientnom")
		input#inputClientPrenom(type="text", placeholder="clientprenom", name="clientprenom")
		input#inputClientLogin(type="text", placeholder="clientlogin", name="clientlogin")
		input#inputClientPassword(type="text", placeholder="clientpassword", name="clientpassword")
		input#inputClientEmail(type="text", placeholder="clientemail", name="clientemail")
		input#inputClientTelephone(type="text", placeholder="clienttelephone", name="clienttelephone")
		input#inputClientAdresse(type="text", placeholder="clientadresse", name="clientadresse")
		button#btnSubmit(type="submit") submit 