extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddClient(name="addclient",method="post",action="/addclient")
		input#inputClientNom(type="text", placeholder="Nom", name="clientnom", required='')
		input#inputClientPrenom(type="text", placeholder="Prenom", name="clientprenom", required='')
		input#inputClientLogin(type="text", placeholder="Login", name="clientlogin", required='')
		input#inputClientPassword(type="password", placeholder="Mot de passe", name="clientpassword", required='')
		input#inputClientEmail(type="text", placeholder="Email", name="clientemail", required='')
		input#inputClientTelephone(type="text", placeholder="Telephone", name="clienttelephone", required='')
		input#inputClientAdresse(type="text", placeholder="Adresse", name="clientadresse", required='')
		button#btnSubmit(type="submit") submit 