extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddClient(name="addclient",method="post",action="/addclient")
		input#inputClientNom(type="text", placeholder="Nom", name="clientnom")
		input#inputClientPrenom(type="text", placeholder="Prenom", name="clientprenom")
		input#inputClientLogin(type="text", placeholder="Login", name="clientlogin")
		input#inputClientPassword(type="text", placeholder="Mot de passe", name="clientpassword")
		input#inputClientEmail(type="text", placeholder="Email", name="clientemail")
		input#inputClientTelephone(type="text", placeholder="Telephone", name="clienttelephone")
		input#inputClientAdresse(type="text", placeholder="Adresse", name="clientadresse")
		button#btnSubmit(type="submit") submit 