extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddLibraire(name="addlibraire",method="post",action="/addlibraire")
		input#inputLibraireSociete(type="text", placeholder="Societe", name="librairesociete")
		input#inputLibraireLogin(type="text", placeholder="Login", name="librairelogin")
		input#inputLibrairePassword(type="password", placeholder="Mot de passe", name="librairepassword")
		input#inputLibraireEmail(type="text", placeholder="Email", name="libraireemail")
		input#inputLibraireTelephone(type="text", placeholder="Telephone", name="librairetelephone")
		input#inputLibraireAdresse(type="text", placeholder="Adresse", name="libraireadresse")
		
		button#btnSubmit(type="submit") submit 