extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddLibraire(name="addlibraire",method="post",action="/addlibraire", required='')
		input#inputLibraireSociete(type="text", placeholder="Societe", name="librairesociete", required='')
		input#inputLibraireLogin(type="text", placeholder="Login", name="librairelogin", required='')
		input#inputLibrairePassword(type="text", placeholder="Password", name="librairepassword", required='')
		input#inputLibraireEmail(type="text", placeholder="Email", name="libraireemail", required='')
		input#inputLibraireTelephone(type="text", placeholder="Telephone", name="librairetelephone", required='')
		input#inputLibraireAdresse(type="text", placeholder="Adresse", name="libraireadresse", required='')
		
		button#btnSubmit(type="submit") submit 