extends layout

block content
	h1 Remplissez ces informations afin de créer votre compte
	form#formAddLibraire(name="addlibraire",method="post",action="/addlibraire")
		input#inputLibraireSociete(type="text", placeholder="librairesociete", name="librairesociete")
		input#inputLibraireLogin(type="text", placeholder="librairelogin", name="librairelogin")
		input#inputLibrairePassword(type="text", placeholder="librairepassword", name="librairepassword")
		input#inputLibraireEmail(type="text", placeholder="libraireemail", name="libraireemail")
		input#inputLibraireTelephone(type="text", placeholder="librairetelephone", name="librairetelephone")
		input#inputLibraireAdresse(type="text", placeholder="libraireadresse", name="libraireadresse")
		
		button#btnSubmit(type="submit") submit 