extends layout

block content
	h1 Réservation réussie
	p Votre réservation de <em>#{titre}</em> est validée.
	p Retrouvez votre livre à la #{vendeur} au 16 rue Bodinier, 49100 Angers.
	p Présentez une pièce d'identité afin de récupérer votre livre pour un montant de #{prix}€.
