extends layout

block content
	p
	h1 S'inscrire en tant que professionnel : 
		div.button.small(onclick="newlibraire()") Nouveau libraire

	h1 S'inscrire en tant que client : 
		div.button.small(onclick="newclient()") Nouveau client
